In [ ]:
# python 3.10.13
# pip install 
# pandas \
# apache-airflow==2.8.4 \
# apache-airflow-providers-microsoft-azure \
# azure-storage-blob \
# python-dotenv

In [1]:
# pandas, azure-storage-blob, dotenv
import pandas as pd
from azure.storage.blob import BlobServiceClient
from dotenv import load_dotenv
import os

In [2]:
# Data Extraction
try:
    data = pd.read_csv('zipco_transaction.csv')
except Exception as e:
    print(f"An Error occured: {e}")

In [ ]:
data.head()

,Date,ProductName,Quantity,UnitPrice,StoreLocation,PaymentType,PromotionApplied,Weather,Temperature,StaffPerformanceRating,...,DeliveryTime_min,OrderType,CustomerName,CustomerAddress,Customer_PhoneNumber,CustomerEmail,Staff_Name,Staff_Email,DayOfWeek,TotalSales
0,2023-01-01 00:00:00,Vanilla Cake,2,12.532304,South,Cash,True,Rainy,20.654914,Poor,...,30,In Store,William Adams,"9851 David Green\r\nTonyaburgh, VA 02853",(916)427-7276x861,lisa00@example.net,John Bridges,pdavidson@example.com,Sunday,25.064608
1,2023-01-01 01:00:00,Red Velvet Cake,1,7.083070,South,Cash,False,Rainy,23.549497,Average,...,33,In Store,Anthony Wiggins,"24682 Holly Stravenue\r\nMooreville, NH 13901",769.318.4373,michellefernandez@example.com,Sarah Bentley,ajohnson@example.net,Sunday,7.083070
2,2023-01-01 02:00:00,Chocolate Cake,5,6.736064,North,Cash,True,Rainy,NaN,Excellent,...,43,Phone Order,Ashley Duke,10184 Washington Trace Apt. 679\r\nEast Brandi...,702.520.3286,cooperwilliam@example.com,Connie Cervantes,michele29@example.net,Sunday,33.680321
3,2023-01-01 03:00:00,Carrot Cake,2,7.314823,North,Cash,False,Cloudy,20.137483,Poor,...,32,Online Order,Brandon Taylor,"87194 Jeff Rue\r\nMitchellbury, CA 50463",622-527-9530,fsilva@example.net,Jessica Stewart,xwilson@example.org,Sunday,14.629647
4,2023-01-01 04:00:00,Pizza Pepperoni,1,7.577727,East,Credit Card,True,Cloudy,23.020987,Good,...,58,In Store,Brittany Watkins,"850 Julia Groves\r\nHartview, WI 95954",759-517-8359,petersjoseph@example.net,Cheryl Carpenter,christine96@example.org,Sunday,7.577727
5,2023-01-01 05:00:00,Red Velvet Cake,2,14.568156,West,Cash,True,Rainy,NaN,Poor,...,30,Phone Order,Curtis Cummings,"25468 Eric Causeway Suite 343\r\nEast Steven, ...",(647)294-0826,stephanie69@example.net,Jessica Coleman,sandra03@example.org,Sunday,29.136313
6,2023-01-01 06:00:00,Red Velvet Cake,3,16.114719,North,Credit Card,False,Cloudy,29.201028,Excellent,...,15,In Store,Haley Wilcox,"PSC 3319, Box 1711\r\nAPO AE 54478",001-345-422-5023,sharon86@example.net,Kelly Johnston,edwardsaaron@example.org,Sunday,48.344156
7,2023-01-01 07:00:00,Carrot Cake,5,12.949873,West,Online,False,Sunny,NaN,Average,...,16,Online Order,Tara Martinez,"49488 Rachel Port\r\nAnthonybury, FL 31446",267.413.3199x19807,NaN,Rebecca George,michaelperez@example.org,Sunday,64.749364
8,2023-01-01 08:00:00,Carrot Cake,4,17.435266,East,Cash,True,Rainy,NaN,Poor,...,29,Phone Order,Sarah Carter,74613 Hensley Crossroad Suite 746\r\nPort Kell...,(742)946-6553x159,anthony69@example.org,Sara Aguilar,nicholasmullins@example.org,Sunday,69.741064
9,2023-01-01 09:00:00,Pizza Margherita,2,19.868948,West,Credit Card,False,Rainy,20.422870,Average,...,53,In Store,Abigail Simon,"57371 Wilson Alley\r\nPatriciaburgh, PA 36781",213.290.9906x79391,lawrence51@example.com,Michelle Pace,freemanjose@example.com,Sunday,39.737897
10,2023-01-01 10:00:00,Chocolate Cake,3,17.300189,South,Online,False,Cloudy,NaN,Good,...,42,In Store,Collin Ward,"52686 Becky Islands\r\nAbigailfurt, NE 86929",391-479-3624,NaN,Nicole Kane DDS,jlopez@example.net,Sunday,51.900568
11,2023-01-01 11:00:00,Carrot Cake,4,15.423236,West,Online,False,Rainy,33.222287,Poor,...,15,In Store,Laura Hughes,"054 Alyssa Mill\r\nLake Alexis, MT 13214",+1-981-260-7807,nicolaslopez@example.org,Edgar White,laura24@example.org,Sunday,61.692942
12,2023-01-01 12:00:00,Pizza Beef Double decker,4,12.987390,East,Online,True,Sunny,26.238705,Poor,...,19,Online Order,Amber Warren,"77320 Kelly Turnpike\r\nWilsonside, MA 57592",932.415.9074x319,brittney37@example.net,Jacob Schroeder,bescobar@example.com,Sunday,51.949562
13,2023-01-01 13:00:00,Cheesecake,2,11.732796,East,Credit Card,False,Cloudy,30.805001,Good,...,56,Phone Order,Amanda Ellis,USNV Riley\r\nFPO AA 14148,420-731-2185,steven36@example.net,Chad Patterson,byrderic@example.net,Sunday,23.465592
14,2023-01-01 14:00:00,Pizza Pepperoni,1,6.265886,East,Cash,False,Cloudy,33.774276,Good,...,36,Phone Order,Samantha Reynolds,"PSC 9615, Box 1463\r\nAPO AP 20309",001-966-301-3601x51483,lindasosa@example.com,Donna Weiss,zreynolds@example.com,Sunday,6.265886

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005 entries, 0 to 1004
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    1005 non-null   object
 1   ProductName             1005 non-null   object
 2   Quantity                1005 non-null   int64
 3   UnitPrice               1005 non-null   float64
 4   StoreLocation           1005 non-null   object
 5   PaymentType             1005 non-null   object
 6   PromotionApplied        1005 non-null   bool
 7   Weather                 1005 non-null   object
 8   Temperature             904 non-null    float64
 9   StaffPerformanceRating  1005 non-null   object
 10  CustomerFeedback        905 non-null    object
 11  DeliveryTime_min        1005 non-null   int64
 12  OrderType               1005 non-null   object
 13  CustomerName            1005 non-null   object
 14  CustomerAddress         1005 non-null   object
 15  Customer_PhoneNumber    1005 non-null   object
 16  CustomerEmail           904 non-null    object
 17  Staff_Name              1005 non-null   object
 18  Staff_Email             904 non-null    object
 19  DayOfWeek               1005 non-null   object
 20  TotalSales              1005 non-null   float64
dtypes: bool(1), float64(3), int64(2), object(15)
memory usage: 158.1+ KB

### Data Cleaning and modelling